header {
    display: flex;
}

body {
    display: block;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-image: url(./img/WhatsApp\ Image\ 2025-06-27\ at\ 9.22.38\ AM.jpeg);
    background-repeat: no-repeat;
    height: 100vh;
}

.logo img {
    width: 100px;
    height: auto;
}

main {
    margin-top: 80px;
    font-size: 40px;
}

h2 {
    display: flex;
    justify-content: center;
}

h3 {
    color: aliceblue;
}

section {
    display: flex;
    justify-content: space-around;
}